.container {
  max-width: 100vw;
}

@media (min-width: 280px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .card-group > .card {
    flex: 0 0 auto;
  }
}

@media (min-width: 992px) {
  .img-sizing {
    width: 17rem;
    height: 25rem;
  }
}

@media (max-width: 991px) {
  .img-sizing {
    width: 8.16rem;
    height: 12rem;
  }
}

@media (min-width: 500px) {
  .searchbox-sizing {
    width: 400px;
  }
}

@media (max-width: 499px) {
  .searchbox-sizing {
    width: 250px;
  }
}
